<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>	
</head>
<body>
	<h1 class="text-center">Node Player</h1>
	<hr>

	<div class="panel panel-default">
		<div class="panel-body">
			<div>
				<h2>Biblioteca</h2>
				<hr>
				<%- biblioteca %>
			</div>
		</div>
	</div>

	
</body>
</html>