<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript">
		$(function(){
			//http://www.developphp.com/video/JavaScript/Audio-Playlist-Array-Tutorial
			console.log("Hola reproductor")

			//--------------------------------------------------------------------------------
			//funcion para crear el reproductor
			self.audio;
			self.arr_src_playlist = [];
			self.curtimetext;

			//obtener la lista de reproducción
			$.each($(".item-lista"), function(index, val) {
				console.log($(this).data("src"))
				console.log($(this).data("name"))
				//$(this).data("src")
				//{"src":$(this).data("src"), "nombre": $(this).data("name")}
				arr_src_playlist.push({"src":$(this).data("src"), "nombre": $(this).data("name")});
			});

			console.log(arr_src_playlist)

			//-------------------------------------------------------------------------
			// Audio Object [inicializacion del audio]
			audio = new Audio();
			audio.src = arr_src_playlist[0].src;
			audio.name_song = arr_src_playlist[0].nombre;
			audio.loop = false;
			//audio.play();
			//-------------------------------------------------------------------------

			$("#btn_play").click(function(event) {
				audio.play();
			});

			$(".item-lista").click(function(event) {
				
				var self = $(this);

				audio.src = self.data("src")
				audio.name_song = self.data("name")				

				audio.play();

				return false;
			});
			//-------------------------------------------------------------------------
			function seektimeupdate(){

				var nt = audio.currentTime * (100 / audio.duration);
				$("#seekslider").val(nt)

				$(".progress-bar").css('width', nt+'%');

				var curmins = Math.floor(audio.currentTime / 60);
			    var cursecs = Math.floor(audio.currentTime - curmins * 60);
			    var durmins = Math.floor(audio.duration / 60);
			    var dursecs = Math.floor(audio.duration - durmins * 60);

				if(cursecs < 10){ cursecs = "0"+cursecs; }
			    if(dursecs < 10){ dursecs = "0"+dursecs; }
			    if(curmins < 10){ curmins = "0"+curmins; }
			    if(durmins < 10){ durmins = "0"+durmins; }
								
				$("#curtimetext").html(curmins+":"+cursecs);			    
			    $("#durtimetext").html(durmins+":"+dursecs);
			}
			//-------------------------------------------------------------------------
			audio.addEventListener("play", function(event){
				
				console.log("Reproduciendo...")				
				//titulo cancion
				$(".panel-title").html(audio.name_song);

				//cambio de funcionalidad e icono del boton de accion
				$("#btn_play").html('<span class="glyphicon glyphicon-pause"></span>');
				$("#btn_play").unbind('click');

				$("#btn_play").click(function(event) {
					audio.pause();
				});
			})

			audio.addEventListener("pause", function(){
				
				console.log("Pausado...")				

				$("#btn_play").html('<span class="glyphicon glyphicon-play"></span>');
				$("#btn_play").unbind('click');

				$("#btn_play").click(function(event) {
					audio.play();
				});
			})

			audio.addEventListener("timeupdate", function(){				
				seektimeupdate();
			})
			//--------------------------------------------------------------------------------
		})
	</script>	
</head>
<body>
	<h1 class="text-center">Node Player</h1>
	<hr>

	<div class="panel panel-default">
		<div id="contenedor-principal" class="panel-body text-center contendor-principal">
			<div>
				<h2>Álbum</h2>
				<hr>

				<%- album %>
			</div>
						
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">-</h3>
				</div>
				<div class="panel-body text-center">

					<button id="btn_" class="btn btn-success"><span class="glyphicon glyphicon-backward"></span></button>
					<button id="btn_play" class="btn btn-success"><span class="glyphicon glyphicon-play"></span></button>
					<button id="btn_" class="btn btn-success"><span class="glyphicon glyphicon-forward"></span></button>

					<div id="timebox">
				    	<span id="curtimetext">00:00</span> / <span id="durtimetext">00:00</span>
				    </div>

				    <div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
					</div>

				</div>
			</div>

		</div>
	</div>

	
</body>
</html>